<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>国际通用版.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EDF4B5611DDAF22800E5AED0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EDF4B5771DDAF22800E5AED0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EDF4B5821DDAF22800E5AED0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
